<div class="htmlWrapper">
    <h2 id="descriptionTitle" class="description-heading-2">Title</h2>
    <div id="xyz_description" class="html_text">
        <!-- ajax description xyz --->
    </div>
    <div id="xy_description" class="html_text">
        <!-- ajax description xy --->
    </div>
    <div id="lms_description" class="html_text">
        <!-- ajax description lms --->
    </div>
    <div id="lms_base_description" class="html_text">
        <!-- ajax description lms --->
    </div>
    <div id="bm_description" class="html_text">
        <!-- ajax description bm --->
    </div>
    <div id="lm_description" class="html_text">
        <!-- ajax description lm --->
    </div>
    <div id="xyz31_description" class="html_text">
        <!-- ajax description xyz31 --->
    </div>
    <div id="xyz64_description" class="html_text">
        <!-- ajax description xyz64 --->
    </div>
    <div id="xy31_description" class="html_text">
        <!-- ajax description xy31 --->
    </div>
    <div id="xy64_description" class="html_text">
        <!-- ajax description xy64 --->
    </div>
    <div class="velo"></div>
</div>