<div class="htmlWrapper">
    <h2 id="descriptionTitle" class="description-heading-2">Title</h2>

    <div id="lms_description" class="html_text">
        <!-- ajax description lms --->
    </div>
    <div id="lms_base_description" class="html_text">
        <!-- ajax description lms --->
    </div>
    <div id="bm_description" class="html_text">
        <!-- ajax description bm --->
    </div>
    <div id="lm_description" class="html_text">
        <!-- ajax description lm --->
    </div>
    <div id="xyz_description" class="html_text">
        <!-- ajax description xyz --->
    </div>
    <div id="xy_description" class="html_text">
        <!-- ajax description xy --->
    </div>
    <div id="xyz_purples_description" class="html_text">
        <!-- ajax description xyz_purples --->
    </div>
    <div id="xy_purples_description" class="html_text">
        <!-- ajax description xy_purples --->
    </div>
    <div id="xyz31_description" class="html_text">
        <!-- ajax description xy_purples --->
    </div>
    <div id="xy31_description" class="html_text">
        <!-- ajax description xy_purples --->
    </div>
    <div id="xyz64_description" class="html_text">
        <!-- ajax description xyz64 --->
    </div>
    <div id="xy64_description" class="html_text">
        <!-- ajax description xy64 --->
    </div>
    <div class="velo"></div>
</div>

<!--

<select id="plot-select" class="ui-widget ui-widget-content">

<option plot="lms">CIE LMS cone fundamentals</option>
<option plot="lms_base">CIE LMS cone fundamentals (9 sign. figs.)</option>

<option plot="bm">MacLeod&ndash;Boynton ls chomaticity diagram</option>
<option plot="lm">Maxwellian lm chromaticity diagram</option>

<option plot="xyz">CIE XYZ cone-fundamental-based tristimulus functions</option>
<option plot="xy">CIE xy cone-fundamental-based chromaticity diagram</option>

<option plot="xyz_purples">XYZ cone-fundamental-based tristimulus functions for purple-line stimuli</option>
<option plot="xy_purples">xy cone-fundamental-based chromaticity diagram (purple-line stimuli)</option>

<option plot="xyz31">CIE XYZ standard colour-matching functions</option>
<option plot="xy31">CIE xy standard chromaticity diagram</option>
</select>

-->