<div class="figOptionCheckboxContainer">
    <div class="figOptionCheckbox">
        <label for="compare1931-2" class="disabled">Compare with CIE 1931 2 &deg;</label>
        <input type="checkbox" id="compare1931-2" disabled/>
    </div>
    <div class="figOptionCheckbox">
        <label for="compare1964-10" class="disabled">Compare with CIE 1964 10 &deg;</label>
        <input type="checkbox" id="compare1964-10" disabled/>
    </div>
    <div class="figOptionCheckbox">
        <label for="showGrid">Grid</label>
        <input id ="showGrid" type="checkbox"/>
    </div>
    <div class="figOptionCheckbox">
        <label for="showLabels" class="disabled">Labels</label>
        <input id ="showLabels" type="checkbox" disabled/>
    </div>
    <br style="float:none"/>
</div>