<div id="theFig" style="border:none;">
    <div id="xyz_plot" class="plot">
        <!-- ajax plot xyz -->
    </div>
    <div id="xy_plot" class="plot">
        <!-- ajax plot xy -->
    </div>
    <div id="lms_plot" class="plot">
        <!-- ajax plot lms -->
    </div>
    <div id="lms_base_plot" class="plot">
        <!-- ajax plot lms_base -->
    </div>
    <div id="bm_plot" class="plot">
        <!-- ajax plot bm -->
    </div>
    <div id="lm_plot" class="plot">
        <!-- ajax plot lm -->
    </div>
    <div id="xyz31_plot" class="plot">
        <!-- ajax plot xyz31 -->
    </div>
    <div id="xyz64_plot" class="plot">
        <!-- ajax plot xyz64 -->
    </div>
    <div id="xy31_plot" class="plot">
        <!-- ajax plot xy31 -->
    </div>
    <div id="xy64_plot" class="plot">
        <!-- ajax plot xy64 -->
    </div>
    <div class="x_label"></div>
    <div class="y_label"></div>
</div>