<div class="figOptionCheckboxContainer">
    <div id="plot-select-div">
        <select id="plot-select" class="ui-widget ui-widget-content">
            <option plot="lms">CIE LMS cone fundamentals</option>
            <option plot="lms_base">CIE LMS cone fundamentals (9 sign. figs.)</option>
            <option plot="bm">MacLeod&ndash;Boynton ls chomaticity diagram</option>
            <option plot="lm">Maxwellian lm chromaticity diagram</option>
            <option plot="xyz">CIE XYZ cone-fundamental-based spectral tristimulus values</option><!-- renorm -->
            <!--<option plot="xyzp">CIE XYZ fundamental CMFs (Purples)</option><!-- renorm -->
            <option plot="xy">CIE xy cone-fundamental-based chromaticity diagram</option><!-- renorm --> <!-- CIE xy fundamental chromaticity diagram -->
            <option plot="xyz31">CIE XYZ standard colour-matching functions</option><!-- CIE XYZ standard colour-matching functions  -->
            <!-- <option plot="xyz31p">CIE XYZ standard CMFs (Purples)</option>	-->
            <option plot="xy31">CIE xy standard chromaticity diagram</option>
        </select>
    </div><!-- end #plot-select -->
</div>