<div class="tableWrapper">
    <div id="xyz_table" class="table">
        <!-- ajax table xyz -->
    </div>
    <div id="xy_table" class="table">
        <!-- ajax table xy -->
    </div>
    <div id="lms_table" class="table">
        <!-- ajax table lms -->
    </div>
    <div id="lms_base_table" class="table">
        <!-- ajax table lms_base -->
    </div>
    <div id="bm_table" class="table">
        <!-- ajax table bm -->
    </div>
    <div id="lm_table" class="table">
        <!-- ajax table lm -->
    </div>
    <div id="xyz31_table" class="table">
        <!-- ajax table xyz31 -->
    </div>
    <div id="xyz64_table" class="table">
        <!-- ajax table xyz64 -->
    </div>
    <div id="xy31_table" class="table">
        <!-- ajax table xy31 -->
    </div>
    <div id="xy64_table" class="table">
        <!-- ajax table xy64 -->
    </div>
</div>	<!-- end .tableWrapper -->