<div class="tableWrapper">
    <div id="lms_table" class="table">
        <!-- ajax table lms -->
    </div>
    <div id="lms_base_table" class="table">
        <!-- ajax table lms_base -->
    </div>
    <div id="bm_table" class="table">
        <!-- ajax table bm -->
    </div>
    <div id="lm_table" class="table">
        <!-- ajax table lm -->
    </div>
    <div id="xyz_table" class="table">
        <!-- ajax table xyz -->
    </div>
    <div id="xy_table" class="table">
        <!-- ajax table xy -->
    </div>
    <div id="xyz_purples_table" class="table">
        <!-- ajax table xy_purples -->
    </div>
    <div id="xy_purples_table" class="table">
        <!-- ajax table xy_purples -->
    </div>
    <div id="xyz31_table" class="table">
        <!-- ajax table xyz31 -->
    </div>
    <div id="xy31_table" class="table">
        <!-- ajax table xy31 -->
    </div>
</div>	<!-- end .tableWrapper -->

<!--

<select id="plot-select" class="ui-widget ui-widget-content">

<option plot="lms">CIE LMS cone fundamentals</option>
<option plot="lms_base">CIE LMS cone fundamentals (9 sign. figs.)</option>

<option plot="bm">MacLeod&ndash;Boynton ls chomaticity diagram</option>
<option plot="lm">Maxwellian lm chromaticity diagram</option>

<option plot="xyz">CIE XYZ cone-fundamental-based tristimulus functions</option>
<option plot="xy">CIE xy cone-fundamental-based chromaticity diagram</option>

<option plot="xyz_purples">XYZ cone-fundamental-based tristimulus functions for purple-line stimuli</option>
<option plot="xy_purples">xy cone-fundamental-based chromaticity diagram (purple-line stimuli)</option>

<option plot="xyz31">CIE XYZ standard colour-matching functions</option>
<option plot="xy31">CIE xy standard chromaticity diagram</option>
</select>

-->