body {
  font-family: Sans-Serif;
}
.matrix {
    position: relative;
    border-spacing: 10px 0;
}
.matrix:before {
    content: "";
    position: absolute;
    left: -6px;
    top: 0;
    border: 1px solid #000;
    border-right: 0px;
    width: 6px;
    height: 100%;
}
.matrix:after {
    content: "";
    position: absolute;
    right: -6px;
    top: 0;
    border: 1px solid #000;
    border-left: 0px;
    width: 6px;
    height: 100%;
}