body {
       font-family: Sans-Serif;
}
table {
        margin-left: auto;
	margin-right: auto;
	width: 100%;
}
tr:nth-child(even){
    background-color: #ddd;
}
td {
	padding: 0px 10px 0px 10px;
    text-align: center;
}    
table tr:hover { 
    background-color: coral;
    color: white;
}
table.tblHeader {
    position: fixed;
}
