/* HTML Text */

.math { font-family: math; 
		font-size: 1.2em;
		letter-spacing: 5px;
}

.html_text { 	display: none; 
				/*font-family: "Lucida Console", Monaco, monospace;*/
}

div.html_text { padding-left: 2px; }

div.html_text sub { font-size: 1em;}

div.html_text td { font-size: 0.9em;}

.description-heading-2 { color: #155caa;
						font-size: 1.65em;
						margin-top: 5px;
					}
				
.description-heading-4 {	color: blue;
						font-size: 1.4em;
					}
					
.description-subtitle { color:#333; 
						font-size: 1.2em;
						font-weight: 600 !important;
					}
				
div.html_text .matrix {
        position: relative;
        border-spacing: 10px 0;
}

div.html_text .matrix:before {
        content: "";
        position: absolute;
        left: -6px;
        top: 0;
        border: 1px solid #000;
        border-right: 0px;
        width: 6px;
        height: 100%;
}

div.html_text .matrix:after {
        content: "";
        position: absolute;
        right: -6px;
        top: 0;
        border: 1px solid #000;
        border-left: 0px;
        width: 6px;
        height: 100%;
}

 .MathJax, .MathJax_Display { vertical-align: baseline }
 .MathJax *, .MathJax_Display * { vertical-align: baseline }
 

