/* Tab panel */

#tabSys {
		min-width: 640px;
		max-width: 640px;
}

#tabSys a {
		outline: none;
}

div#theFig{ 
			position: relative;
			text-align: center;
			border: 1px solid #d5d5d5;
			min-height: 430px;
			height: 430px;
			max-width: 640px;
			border-top: none;
}

.plot {			
		position: relative;
		display: none; 
		/* background-color: aliceBlue; Testing only */
}

.plot>div>div  {
			position: static;
}

svg {
			display: block;
			margin-left: auto;
			margin-right: auto;
}

div.label { 
			font-size: 0.9em;
			height: 30px;
			text-align: center;
		}

div.label sub { font-size: 0.8em;
		}
	
div.x_label { 	
}

div.y_label {	position:absolute;
				top:220;
				width: 400px;
				margin: 0;
				/*background-color: coral;*/
				writing-mode:tb-rl;
    			-webkit-transform:rotate(-90deg);
    			-moz-transform:rotate(-90deg);
    			-o-transform: rotate(-90deg);
}


