/* font */

@font-face { 	font-family: math;
				src: url("../fonts/cmunci.ttf");
			}

/* App */

div#header img {	height: 45px;
					margin: 0px 0px 10px 10px;
 }

img#loader { 	width: 50px;
				top: 210;
				left: 300;
				opacity: 0.5;
				position: absolute;
				z-index: 50;
			}

select#plot-select { width: 650px; }

.plot {			display: none; }

.math { font-family: math; }

.html_text { 	display: none; }

.table { display: none; }

.float-bottom { height: 0px;
				clear:both;
				}

#appWrapper {	width: 98%;
				margin: auto;
				padding-left: 15px;
 }
 
#leftSpalte	{ 	width: 650px;
				height: auto;
				float: left;
 }
#rightSpalte { 
				/*width: 680px;*/
				overflow-y: auto;
				float: left;
}

#bottomSpalte { width: 600px;
				clear:both;
				padding-top: 10px;
}


div.htmlWrapper {	padding-left: 10;
					height: auto;
					height: 545px;
					max-height: 565px;
					max-width: 620px;
					overflow-y: scroll;
				}

div#input-params, div#figOptions {  font-size: 0.9em;
    								margin: 5px auto 0px auto;
    								margin-left: auto; 
    								margin-right: auto;

     								text-align: center;
    								-ms-text-justify: distribute-all-lines;
    								text-justify: distribute-all-lines;
}
div.input-field, div#figOptions div { 	vertical-align: top;
    									display: inline-block;
    									*display: inline;
    									zoom: 1;
    									margin-right: 10px;
    									margin-left: 10px;
}

table#inputTable input { 	width: 40px; }

table#inputTable .minus-sign { text-align: center; 
								width: 30px;
								font-size: 2.5em;
}

table#inputTable .btnCell { text-align: left; }
table#inputTable .btnCell button { font-size: 0.9em;}

table#inputTable .lblTd { text-align: left; }




table#inputTable { 	text-align: left;
					width: 540px;
					margin-right: auto;
					margin-left: 10px;
					}


.stretch {
    				width: 100%;
    				display: inline-block;
    				font-size: 0;
    				line-height: 0
}

#tc-Tabs a { outline: none; }

.disabled { color: #aaa; }
				

div#theFig{ position: relative;
			text-align: center;
			border: 1px solid #dc670b;
			min-height: 510px;
}

div.label { 
			font-family: math;
			font-size: 1.2em;
			height: 30px;
			display: none;
		}
	
div.x_label { 	position: relative;
				bottom: 0;
				z-index: 1;
				text-align: center;
				left: 80px;
				width: 500px;
}

div.y_label {	position:absolute;
				top:220; left: -180;
				width: 400px;
				margin: 0;
				writing-mode:tb-rl;
    			-webkit-transform:rotate(-90deg);
    			-moz-transform:rotate(-90deg);
    			-o-transform: rotate(-90deg);
}
			
div.table table { 	
							margin-left: auto;
							margin-right: auto;
							width: 100%;
}
			
div.table table tr:nth-child(even){ background-color: lightSteelBlue; } 	
		
div.table table td { 		padding: 0px 10px 0px 10px;
							text-align: center;
							font-family: "Lucida Console", Monaco, monospace;
							font-size: 0.9em;
}

div.table table tr:hover{ 	text-shadow: 1px 1px 1px #aaa;
							background-color: coral;
							cursor: pointer;
 						}
div.table th:first-of-type { 	width: 100px;
}



.tableWrapper { height: 519px; /* Size of figure is fixed, so I adjust this to the figure */
				overflow-y: scroll;
				border: 1px solid steelBlue;
}
/* HTML Text */

div.html_text { padding-left: 5px; 
				
}

div.html_text sub { font-size: 1em;}

.description-heading-2 { color: #333;
						font-size: 3em;
						margin-top: 10px;
					}
				
.description-heading-4 {	color: blue;
						font-size: 2em;
					}
					
.description-subtitle { color:#333; 
					font-size: 2em;
					}
				
div.html_text .matrix {
        position: relative;
        border-spacing: 10px 0;
}

div.html_text .matrix:before {
        content: "";
        position: absolute;
        left: -6px;
        top: 0;
        border: 1px solid #000;
        border-right: 0px;
        width: 6px;
        height: 100%;
}

div.html_text .matrix:after {
        content: "";
        position: absolute;
        right: -6px;
        top: 0;
        border: 1px solid #000;
        border-left: 0px;
        width: 6px;
        height: 100%;
}

/* From jquery-ui theme */

body{
		font: 80% "Trebuchet MS", sans-serif;
		margin: 0px;
	}
	.demoHeaders {
		margin-top: 2em;
	}
	#dialog-link {
		padding: .4em 1em .4em 20px;
		text-decoration: none;
		position: relative;
	}
	#dialog-link span.ui-icon {
		margin: 0 5px 0 0;
		position: absolute;
		left: .2em;
		top: 50%;
		margin-top: -8px;
	}
	#icons {
		margin: 0;
		padding: 0;
	}
	#icons li {
		margin: 2px;
		position: relative;
		padding: 4px 0;
		cursor: pointer;
		float: left;
		list-style: none;
	}
	#icons span.ui-icon {
		float: left;
		margin: 0 4px;
	}
	.fakewindowcontain .ui-widget-overlay {
		position: absolute;
	}
