/* Instead of testing on the files. Like a css sandbox */
/*.row div {

			border: 1px solid #aaa;
}*/

.table-fixed thead {
  width: 100%;
}
.table-fixed tbody {
  height: 519px; /* Same as table wrapper */
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td {
  float: left;
  border-bottom-width: 0;
}

.table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
  height: 33;
  width: 28.2%;
}