/* Instead of testing on the files. Like a css sandbox */
/*.row div {

			border: 1px solid #aaa;
}*/


.figOptionCheckbox {
						padding-right: 0px !important;
						padding-left: 0px !important;
						text-align: center;
						font-size: 0.8em;
						width: 35%;
						float: left;
}

.figOptionCheckbox:nth-child(3), .figOptionCheckbox:nth-child(4)  {
						width: 15%;
}						


.figOptionCheckboxContainer {

						width: 640px;
}

label {
						font-weight: normal !important;
}

.paramRow {
						background-color: aliceBlue;
}

.paramRow select {
						margin-top: 30px;
						min-width: 420px;
						max-width: 420px;
}

.paramTable td {
						padding-top: 4px;
						padding-bottom: 6px;
						border-radius: 3px;
						font-size: 0.95em;
						/*border: 1px solid #555;*/

}

.paramTable button {
						margin-right: 5px;
}

.paramTable .upperRow td {
						padding-top: 20px;
}

.ui-widget {
						font-size: 0.95em;
}

.ui-widget[class=ui-spinner] {
						width: 70px;
}

.paramTable button {
						color: white;
						background-color: #6093d6;
						border: none;
						padding: 4px;
						border-radius: 4px;
						box-shadow: 2px 2px 1px #c5d6d7;
					
}

/*.paramTable button:hover {
						background-color: #3a95ac;
}*/


#helpButton {
        position: absolute;
        top: 5px;
        right: 45px;
}