{% load staticfiles %}
<html>
	<head>
		<title>Ciefunctions</title>
		<link rel="stylesheet" href="{% static 'web/css/redmond/jquery-ui-1.10.4.custom.min.css' %}"></link>
		<link rel="stylesheet" href="{% static 'web/css/tc.css' %}"></link>
		<script src="{% static 'web/js/jquery-1.10.2.js' %}"></script>
		<script src="{% static 'web/js/jquery-ui-1.10.4.custom.min.js' %}"></script>
		<script src="{% static 'web/js/plotLoader.js' %}"></script>
		<script>
			//Namespace for current form_values
			currentForm = (	{	age: '{{ age }}',
								field_size: '{{ field_size }}',
								lambda_min: '{{ lambda_min }}',
								lambda_max: '{{ lambda_max }}',
								lambda_step: '{{ lambda_step }}'
							});
		</script>
	</head>
	<body>
		<div id="appWrapper">
			<div id="header">
				<img src="{% static 'web/img/logo_final.jpg' %}"/>
			</div>
			<div id="leftSpalte">
				<div id="tc-Tabs">
					<ul>
						<li><a href="#tabs-1">Plot</a></li>
						<li><a href="#tabs-2">Table</a></li>		
					</ul>
					<div id="tabs-1">
						<div id="theFig">
							<div id="xyz_plot" class="plot">
								<!-- ajax plot xyz -->
							</div>
							<div id="xy_plot" class="plot">
								<!-- ajax plot xy -->
							</div>
							<div id="lms_plot" class="plot">
								<!-- ajax plot lms -->
							</div>
							<div id="lms_base_plot" class="plot">
								<!-- ajax plot lms_base -->
							</div>
							<div id="bm_plot" class="plot">
								<!-- ajax plot bm -->
							</div>
							<div id="lm_plot" class="plot">
								<!-- ajax plot lm -->
							</div>
							<div id="xyz31_plot" class="plot">
								<!-- ajax plot xyz31 -->
							</div>
							<div id="xy31_plot" class="plot">
								<!-- ajax plot standard -->
							</div>
							<img id="loader" src="{% static 'web/img/spinner-blue.gif' %}"/>
							<div class="label x_label">Wavelength</div>
							<div class="label y_label">Wavelength</div>
						</div>
						<div id="figOptions">
							<!-- Start with default enabled ticks, might need to go to an init function -->
							<div>
								<label for="#compare1931-2">Compare with CIE 1931 2 &deg;</label>
								<input type="checkbox" id="compare1931-2" disabled/>
							</div>
							<div>
								<label for="#compare1964-10">Compare with CIE 1964 10 &deg;</label>
								<input type="checkbox" id="compare1964-10" disabled/>
							</div>
							<div>
								<label for="#showGrid">Grid</label>
								<input id ="showGrid" type="checkbox"/>
							</div>
							<div>
								<label for="#showLabels">Labels</label>
								<input id ="showLabels" type="checkbox" disabled/>
							</div>
						</div>
						<span class="stretch"></span>
						<br style="clear:both"/>
					</div><!-- end #tabs-1 -->
					<div id="tabs-2">
						<div class="tableWrapper">
							<div id="xyz_table" class="table">
								{{ tab_list.0 }}
							</div>
							<div id="xy_table" class="table">
								{{ tab_list.1 }}
							</div>
							<div id="lms_table" class="table">
								{{ tab_list.2 }}
							</div>
							<div id="lms_base_table" class="table">
								{{ tab_list.3 }}
							</div>
							<div id="bm_table" class="table">
								{{ tab_list.4 }}
							</div>
							<div id="lm_table" class="table">
								{{ tab_list.5 }}
							</div>
							<div id="xyz31_table" class="table">
								{{ tab_list.6 }}
							</div>
							<div id="xy31_table" class="table">
								{{ tab_list.7 }}
							</div>
						</div>	<!-- end .tableWrapper -->
					</div><!-- end #tabs-2 -->
				</div><!-- end #tc-Tabs -->	
				<div id="plot-select-div">
					<select id="plot-select">
						<option plot="lms">CIE LMS cone fundamentals</option>
						<option plot="lms_base">CIE LMS cone fundamentals (9 sign.flgs.)</option>
						<option plot="lm">Equi-power normalised lm diagram</option>
						<option plot="bm">CIE MacLeod-Boynton ls diagram</option>
						<option plot="xyz">CIE XYZ fundamental CMFs</option>
						<option plot="xy">CIE xy fundamental chromacity diagram</option>
						<option plot="xyz31">CIE XYZ standard CMFs</option>
						<option plot="xy31">CIE xy standard chromaticity diagram</option>
					</select>
					<br style="clear:both"/>
				</div><!-- end #plot-select -->
				<br style="clear:both"/>
			</div><!-- end #leftSpalte -->
			<div id="rightSpalte">
				<div class="htmlWrapper">
					<div id="xyz_html" class="html_text">
						{{ html_list.0 }}
					</div>
					<div id="xy_html" class="html_text">
						{{ html_list.1 }}
					</div>
					<div id="lms_html" class="html_text">
						{{ html_list.2 }}
					</div>
					<div id="lms_base_html" class="html_text">
						{{ html_list.3 }}
					</div>
					<div id="bm_html" class="html_text">
						{{ html_list.4 }}
					</div>
					<div id="lm_html" class="html_text">
						{{ html_list.5 }}
					</div>
					<div id="xyz31_html" class="html_text">
						{{ html_list.6 }}
					</div>
					<div id="xy31_html" class="html_text">
						{{ html_list.7 }}
					</div>
				</div>
				<div class="float-bottom"></div>
			</div><!-- end #rightSpalte -->
			<div id="bottomSpalte">
				<div id="input-params">
					<form id="paramForm" method="POST" action="">
						{% csrf_token %}
						<div id="field_size-wrap" class="input-field">
							<label for="field_size">Field size (&deg;)</label>
							<input id="field_size" name="field_size" value="{{ field_size }}" readonly/>
						</div>
						<div id="age-wrap" class="input-field">
							<label for="age">Age (yr)</label>
							<input id="age" name="age" value="{{ age }}" readonly/>
						</div>
						<div id="lambda_min-wrap" class="input-field">
							<label for="lambda_min">Domain (nm)</label>
							<input id="lambda_min" name="lambda_min" value="{{ lambda_min }}" readonly/>
						</div>
						<div id="lambda_max-wrap" class="input-field">			
							<label for="lambda_max"> - </label>
							<input id="lambda_max" name="lambda_max" value="{{ lambda_max }}" readonly/>
						</div>
						<div id="lambda_step-wrap" class="input-field">			
							<label for="lambda_step">Step (nm)</label>
							<input id="lambda_step" name="lambda_step" value="{{ lambda_step }}" readonly/>
						</div>
						<div id="computeBtn" class="input-field">
							<button style="width: 150px" type="submit">Compute</button>
						</div>
						<span class="stretch"></span>
					</form>		
				</div><!-- end #input-params -->
				<br style="clear:both"/>
			</div><!--end #bottomSpalte -->
			<br style="clear:both"/>
		</div><!-- end #appWrapper -->
	
	<script src="{% static 'web/js/tc.js' %}"></script>


	</body>
</html>
